# Python
__pycache__/
*.pyc
*.pyo

# === Local data & checkpoints ===
data_processed/
data_raw/
logs/
checkpoints/
configs/
predictions/
checkpoints_ar_kv_2/
checkpoints_tf_2/
checkpoints_1_step/
evaluation_results/
checkpoints_VAR_BASELINE_90_90/
checkpoints_mix_tf_ar/
checkpoints_TF_KL_0.1/
checkpoints_TF_QTL_0.1/
checkpoints_TF_QTL_0.08_KL_0.02/
checkpoints_TF_QTL_0.08_KL_0.02_MOM_0.03/
checkpoints_TF_QTL_0.08_KL_0.02_TRJ_0.03/
checkpoints_TF_scaling/
checkpoints_TF_mix_scaling/
checkpoints_1_step_scaling/
checkpoints_AR_scaling/
output/
checkpoints_AR_KV/
checkpoints_TF/
checkpoints_TF_dff/